/*PAGE STYLE*/

html{
	margin: 0;
	padding: 0;
}

#t1{
	font-family: 'Saira Extra Condensed', sans-serif;
	font-size: 50px;
	color: #FFF;
	margin-top: -20px;
}

#t2{
	margin-bottom: 0;
	font-size: 30px;
	font-family: 'Saira Extra Condensed', sans-serif;
	color: #c9c9c9;	
}

hr{
	margin-left: 100px;
	margin-right: 100px;
}

#fill{
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  	background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  	background: -o-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
	background: -moz-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
}

/* Plate style */

#plate{
	width: 100%;
	background: url(/static/img/mercosul_template.png);
	position: relative;
}

#strip{ 
	background: #0033a0;
	position: relative;
}

#mercosul{
	float: left;
}

#country{
	width: 100%;
	font-family: gs;
	color: #fff;
	float: left;
	position: absolute;
	text-align: center;
}

#country-flag{
	border: 2px solid #fff;
	float: right;
}

#content{
	padding: 0px;
	background: #fff;
	position: relative;
}

#waves{
	height: auto;
	position: absolute;
}

.text{
	padding: 0px;
	font-family: fe;
	float: left;
	text-align: center;
	position: absolute;
	color: transparent;
	background: url(/static/img/mercosul_template.png);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#br{
	position: absolute;
	font-family: 'Oswald', sans-serif;
	color: #000;
}