@font-face {
    font-family: gs;
    src: url(/static/font/gill-sans.otf);
}

@font-face {
    font-family: fe;
    src: url(/static/font/fe-ngschrift.otf);
}

@font-face {
    font-family: Oswald;
    src: url(/static/font/Oswald-Regular.ttf);
}