<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mercosur plates generator</title>
  	<meta charset="utf-8">
</head>
<body>
	{% extends "template.html" %}
    {% block content %}
	<div class="container-fluid" id="fill">
		<div class="row h-100">
			<div class="col-xs-12 col-md-3 my-auto">
				<div id="t2" class="text-center">Mercosur Plates</div>
				<div id="t1" class="text-center">GENERATOR</div>
			</div>
			<div class="col-xs-12 col-md-9 text-center my-auto" id="plate-form">
				<form class="form-inline text-center">
					<div class="form-group mr-3 mb-2">
						<div class="input-group">
					     	<div class="input-group-prepend">
						    	<span class="input-group-text">Country</span>
						    </div>
					      	<select class="form-control" id="country-form">
					      		<option value="argentina" label="REPUBLICA ARGENTINA">REPUBLICA ARGENTINA</option>
								<option value="venezuela" label="REPUBLICA BOLIVARIANA DE VENEZUELA">REPUBLICA BOLIVARIANA DE VENEZUELA</option>
								<option value="brasil" label="BRASIL">BRASIL</option>
								<option value="uruguai" label="URUGUAY">URUGUAY</option>
								<option value="paraguai" label="REPUBLICA DEL PARAGUAY">REPUBLICA DEL PARAGUAY</option>
							</select>
					    </div>
					</div>
					<div class="form-group mr-3 mb-2">
					    <div class="input-group">
						    <div class="input-group-prepend">
						    	<span class="input-group-text">Plate</span>
						    </div>
	      					<input type="text" class="form-control" id="content-form" placeholder="content plate">
      					</div>
					</div>
					<div class="form-group mb-2">
						<button type="button" class="btn btn-info" onclick="generatePlate()">Generate</button>
					</div>
				</form>
			</div>
		</div>
		<hr/>
		<div class="row h-100">
			<div class="col-md-10 offset-md-1">
				<!--<img id="image" src="data:image/jpg;base64,{{image|safe}}" alt="MERCOSUR PLATE">-->
				<div id="plate">
					<div id="strip">
						<img id="mercosul" src="/static/img/logomercosul.png">
						<p id="country"></p>
						<img id="country-flag">
					</div>
					<div id="content">		
						<img id="waves" src="/static/img/waves.png">
						<div id="br"><b>BR</b></div>
						<div id="c1" class="text"></div>
						<div id="c2" class="text"></div>
						<div id="c3" class="text"></div>
						<div id="c4" class="text"></div>
						<div id="c5" class="text"></div>
						<div id="c6" class="text"></div>
						<div id="c7" class="text"></div>	
					</div>
				</div>
			</div>	
		</div>
	</div>
	{% endblock %}	
</body>
</html> 